<p id="notice"><%= notice %></p>

<h1>Profile</h1>
 

<% if @profile.user.photos.where(is_profile: true).count == 0 %>
    <%= link_to 'Create profile photo', new_photo_path(@photo) %>
<% end %>

<% @profile.user.photos.each do |photo| %>
  <% if photo.is_profile %>
      <%= image_tag photo.image_url(:medium) %>
      <% if policy(photo).edit? %>
          <%= link_to 'Edit', edit_photo_path(photo) %>
      <% end %>
  <% end %>
<% end %> 

  



  




<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.about_me %>
</p>

<p>
  <strong>Intro tour guide:</strong>
  <%= @profile.intro_tour_guide %>
</p>


<% if policy(@profile).edit? %>
<p>
  <strong>Street address:</strong>
  <%= @profile.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @profile.country_code %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Tour guide:</strong>
  <%= @profile.is_tour_guide %>
</p>

<p>
  <strong>Photographer:</strong>
  <%= @profile.is_photographer %>
</p>

<p>
  <strong>Driving:</strong>
  <%= @profile.has_car %>
</p>

<p>
  <strong>Historical knowledge:</strong>
  <%= @profile.has_historical_knowledge %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %>
<% end %>

