<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :traveller_id %>
    <%= form.text_field :traveller_id, id: :booking_traveller_id %>
  </div>

  <div class="field">
    <%= form.label :tour_guide_id %>
    <%= form.text_field :tour_guide_id, id: :booking_tour_guide_id %>
  </div>

  <div class="field">
    <%= form.label :tour_id %>
    <%= form.text_field :tour_id, id: :booking_tour_id %>
  </div>

  <div class="field">
    <%= form.label :has_paid %>
    <%= form.check_box :has_paid, id: :booking_has_paid %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :booking_rating %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review, id: :booking_review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
