<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<% if booking.has_paid %>
  <%= form.hidden_field :tour_guide_id, value: booking.tour_guide_id %>
  <%= form.hidden_field :traveller_id, value: booking.traveller_id %>
  <%= form.hidden_field :tour_id, value: booking.tour_id %>
<% else %>
  <%= form.hidden_field :tour_guide_id, value: @tour_guide %>
  <%= form.hidden_field :traveller_id, value: @traveller %>
  <%= form.hidden_field :tour_id, value: @tour %>
<% end %>

<% if booking.tour_guide_id == current_user.id %>
  <div class="field">
    <%= form.label :has_paid %>
    <%= form.check_box :has_paid, id: :booking_has_paid %>
  </div>
<% end %>

<% if booking.has_paid && booking.traveller_id == current_user.id %>
  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, step: 0.5, max: 10, id: :booking_rating %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review, id: :booking_review %>
  </div>
<% end %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
