<div class="flex-container">
<% my_unpaid_bookings.each do |booking| %>
    <div class="flex-item">
    Tour Guide: <%= link_to "#{booking.tour_guide.profile.fullname}", profile_path(booking.tour_guide.profile) %>
        <br>
        <%= booking.tour.location.name %>
        <br>
        <%= booking.tour.start_date_time %>
        <br>
        <%= booking.tour.end_date_time %>
        <br>
        <%= booking.tour.description %>
        <br>
       AUD <%= number_to_currency booking.tour.price %>
        <br>
        <%= link_to 'View', booking_path(booking) %>
        <%= link_to 'Pay now', booking, class: "button right" %>
    </div>
<% end %>
</div>
