<div class="flex-container">
<div class="flex-item">

<h2>Booking</h2>

<p>
  <strong>Traveller:</strong>
  <%= @booking.traveller.profile.fullname %>
</p>

<p>
  <strong>Tour guide:</strong>
  <%= @booking.tour_guide.profile.fullname %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @booking.tour.location.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @booking.tour.start_date_time %>
</p>

<p>
  <strong>To:</strong>
  <%= @booking.tour.end_date_time %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @booking.has_paid ? "Paid" : "Unpaid" %>
</p>


<% if @booking.traveller_id == current_user.id %>
  <% unless @booking.has_paid %>
        <%= render 'charge_form', booking: @booking, user: current_user %>
  <% else %>
    <p>
      <strong>Rating:</strong>
      <%= @booking.rating %>
    </p>
    <p>
      <strong>Review:</strong>
      <%= @booking.review %>
    </p>
    <br>
    <%= link_to 'Review', edit_booking_path(@booking) %>
  <% end %>  

  <% elsif @booking.tour_guide_id == current_user.id %>
      <%= link_to 'Edit Payment Status', edit_booking_path(@booking) %>
      
<% end %>

</div>
</div>


