<p id="notice"><%= notice %></p>

<p>
  <strong>Traveller:</strong>
  <%= @booking.traveller.profile.fullname %>
</p>

<p>
  <strong>Tour guide:</strong>
  <%= @booking.tour_guide.profile.fullname %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @booking.tour.location.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @booking.tour.start_date_time %>
</p>

<p>
  <strong>To:</strong>
  <%= @booking.tour.end_date_time %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @booking.has_paid ? "Paid" : "Unpaid" %>
</p>

<% unless @booking.has_paid %>
    <%= render 'charge_form', booking: @booking, user: current_user %>

<% else %>

  <p>
    <strong>Rating:</strong>
    <%= @booking.rating %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= @booking.review %>
  </p>
  <br>
  <%= link_to 'Edit', edit_booking_path(@booking) %>

<% end %>



