<%= form_with(model: tour, local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date_time %>
    <%= form.datetime_select :start_date_time, id: :tour_start_date_time %>
  </div>

  <div class="field">
    <%= form.label :end_date_time %>
    <%= form.datetime_select :end_date_time, id: :tour_end_date_time %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :tour_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :tour_price %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :tour_user_id %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id, id: :tour_location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
