<div class="flex-container">


<% mytours.each do |tour| %>
    <div class="flex-item">
        <%= tour.location.name %>
        <br>
        <%= tour.start_date_time %>
        <br>
        <%= tour.end_date_time %>
        <br>
        <%= tour.description %>
        <br>
       AUD <%= number_to_currency tour.price %>
        <br>
    <% if policy(tour).edit? %>
        <%= link_to 'Edit', edit_tour_path(tour) %> | 
    <% end %>

    <% if policy(tour).destroy? %>
        <%= link_to 'Delete', tour, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
    
<% end %>
</div>
