<% tour.user.photos.each do |photo| %>
  <% if photo.is_profile %>
      <%= image_tag photo.image_url(:thumb), class: "thumb" %>
  <% end %>
<% end %> 


<%= tour.location.name %><br>
<%= tour.start_date_time %><br>
<%= tour.end_date_time %><br>
<%= tour.description %><br>
AUD <%= number_to_currency tour.price %><br>
<%= tour.user.profile.first_name %><br>

    <% if user_signed_in? %>
            <% if tour.user_id != current_user.id %>
                <%= link_to 'Book', new_booking_path(tour_guide_id: tour.user_id, traveller_id: current_user.id, tour_id: tour.id), class: "button right" %>
            <% end %>
    <% end %>

<div class="right">
    <% if policy(tour).edit? %>
        <br>
        <%= link_to 'Edit', edit_tour_path(tour) %> | 
    <% end %>
    
    <% if policy(tour).destroy? %>
        <%= link_to 'Delete', tour, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>
