<p id="notice"><%= notice %></p>

<p>
  <strong>Tour Guide:</strong>
  <%= @tour.user.profile.fullname  %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tour.location.name %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @tour.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @tour.end_date_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<p>
  <strong>Price:</strong>
  AUD <%= number_to_currency @tour.price %>
</p>


<% if user_signed_in? %>

    <% if @tour.user_id != current_user.id %>
        <%= link_to 'Book', new_booking_path(tour_guide_id: @tour.user_id, traveller_id: current_user.id, tour_id: @tour.id) %>
    <% end %>

    <% if policy(@tour).edit? %>
        <br>
        <%= link_to 'Edit', edit_tour_path(@tour) %> | 
    <% end %>

    <% if policy(@tour).destroy? %>
        <%= link_to 'Delete', @tour, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<% end %>

<br>
<%= link_to 'Back', :back %>
