<h1>Send Message</h1>
<p>
    <strong>From:</strong>  <%= current_user.profile.fullname %> [<%= current_user.email %>]
</p>
<p>
    <strong>To:</strong> <%= link_to @receiver.profile.fullname, profile_path(@receiver.profile) %> 
</p>


<%= form_for :contact do |f| %>
<%= f.hidden_field :name, value: current_user.profile.fullname %>   
<%= f.hidden_field :receiver, value: @receiver.email %>  

    <p>
        <%= f.label :message %>
        <%= f.text_area :message %>
    </p>
    <p>
        <%= f.submit "Send" %>      
    </p>  
<% end %>
