<%= render 'checklogin' %>

<h1>Air Tour Guide</h1>

<h2>Upcoming tours</h2>

<% @tours.each do |tour| %>
  <div style="width:300px; padding: 10px">
    <%= link_to tour_path(tour) do %>
        <%= render '/tours/tour', tour: tour %>
    <% end %>
    <br>
    <% if policy(tour).edit? %>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
    <% end %>
    <% if policy(tour).destroy? %>
        <td><%= link_to 'Delete', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </div>   
<% end %>
