<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user.profile.fullname %>
</p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @photo.image_url(:medium) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Profile Photo:</strong>
  <%= @photo.is_profile %>
</p>

<% if policy(@photo).edit? %>
<%= link_to 'Edit', edit_photo_path(@photo) %>
<% end %>
