<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Air Tour Guide</title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css"></link>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
    <header>

      <%= link_to root_path do %>
      <%=image_tag "logo-80.png", class: "logo" %>
      <% end %>

      <% if !user_signed_in? %>
          <%= link_to new_user_session_path, class: "profile-icon noline" do %>
            <%= image_tag "icon-user.png", class: "user"%>
            <span class="user-name">Login</span>
          <% end %>
      <% else %>
          <%= link_to profile_path(current_user.profile), class: "profile-icon noline center" do %>
            <%= image_tag "icon-user.png", class: "user" %>
            <span class="user-name"><%= current_user.profile.first_name %></span>
          <% end %>
          <%= render 'partials/header', {tour: @mytours, profile: current_user.profile} %>
      <% end %>
    </header>
    <main>
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
        <%= yield %>
    </main>
    <footer>
        <%= render 'partials/footer' %>
    </footer>
  </div>
  </body>
</html>


      