<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Tour Guide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css"></link>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'partials/header', {tour: @mytours, profile: current_user.profile} %>
    <% end %>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </main>

    <%= yield %>
  </body>
  <%= render 'partials/footer' %>
</html>


      